<% include ../partials/header %>

<div class="row">
	<div class="main-header">

		<h1 style="text-align: center">Movie/TV Database</h1>
		<div class="searchPage">
			<form action="/results" method="GET" _lpchecked="1">
				<div class="form-group">
					<input class="form-control title" type="text" aria-describedby="movieTitle" placeholder="Title" name="search">
					<small id="movieTitle" class="form-text text-muted">Search by title</small>
				</div>

				<div class="form-group">
					<input class="form-control year" type="text" aria-describedby="movieTitle" placeholder="Year" name="search">
					<small id="movieYear" class="form-text text-muted">Search by year</small>
				</div>

				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>
			<p>DISCLAIMER: <br>Make sure there's <strong>NO SPACE</strong> at the end of your search before submitting. Thanks</p>
		</div>
	</div>
</div>


<% include ../partials/footer %>